body{
    margin: 0;
}
ul{
    padding: 0;
    list-style: none;
}
img,li,#flex{
    max-width: 100%;
}

.imgU{
    border-radius: 100%;
}
#flex{
    display: flex;
    flex-direction: column;
    max-width: 100%;
}
.post{
    border: 5px solid black;
    margin: 1rem 0;
}
.infoU{
    display: flex;
}
.li5{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
h4{
    display: inline-block;
    margin: 0;
}
i,.like{
    margin:0.5rem;
}
.sponsored{
    display: inline-block;
    color:rgb(173, 162, 7);
}